# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientist use are: 
 1. Python 
 2. R 
 3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-Learn

| Data Science Tools | 
|--------------------|
| Jupyter Notebook | 
| RStudio | 
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Introduce common development environments used in Data Science.
- Provide examples of arithmetic expressions and data conversions in Python.
- Demonstrate the creation of markdown cells and basic formatting.
- Illustrate the use of code cells for performing calculations and data manipulation.

## Author
Hanifah Gladis Amalia